<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBModule3.Properties.Settings.TravelEaseConnectionString"
            connectionString="Data Source=DESKTOP-PSTRBT2\SQLEXPRESS;Initial Catalog=TravelEase;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>